.fiction-page {
    margin: 0 auto;
    padding: 0;
    background-image: url('../Assets/FictionBackground.jpg');
    background-size: contain;
    background-position: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.header {
    position: fixed;
/*    background-image: url('../Assets/FictionBackground.jpg');
    background-size: cover;
*/}

.content {
    position: fixed;
}
