body .start-page{
    background-image: url('../Assets/LibraryBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.start-page {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.start-page-header {
    font-size: 100px;
    color: white;
    margin-bottom: 20px;
}

.header-btn .btn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    margin: 10px;
    border-radius: 20px;
    border: 5px solid;
    border-color: #000000;
    font-size: 50px;
    font-weight: 600;
    font-family: inherit;
    background-color: white;
    opacity: 0.75;
    color: #000000;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 300px;
}

    .header-btn .btn:hover {
        background-color: white;
        opacity: 0.925;
        border-color: #000000;
        color: #000000;
    }

    .header-btn .btn .icon {
        font-size: 125px;
    }

.add-btn {
    background: white;
}